on init
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service.lito
    class hal
    user system
    group system input
